@media (max-width: 550px) {
  body.p-128 {
    padding: 0;
  }
  .recipe {
    border-radius: 0;
  }

  .recipe.p-40 {
    padding: 0;
  }
  .recipe-image {
    border-radius: 0;
  }
  .description,
  .preparation,
  .ingredients,
  .Instructions,
  .nutrition {
    margin-right: 32px;
    margin-left: 32px;
  }
  .preparation {
    max-width: 44.6rem;
    padding: 24px;
  }
  .description p {
    max-width: 26rem;
  }
}

@media (max-width: 768px) {
  .description p {
    max-width: fit-content;
    width: 85%;
  }
  .ingredients ul li:last-child {
    max-width: 110%;
    width: 110%;
  }
}
